@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>  
    請檢查您的電子郵件以重置您的密碼。
</h2>


@section Css{
<link rel="stylesheet" href="~/css/Account/Another.css" asp-append-version="true"/>
}