@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<p>  
    請檢查您的電子郵件以重置您的密碼。
</p>

@section Css{
    <style>
    main{
        height:100vh;
        text-align:center;
    }
    p{
        padding-top:3em;
        font-size:5em;
    }
</style>
}