@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘記密碼";
}


<div class="forget">
    <div class="forget-content">
        <div class="forget-title">我忘了我的帳戶登入名稱或密碼</div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger d-block ps-0"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="d-block">請輸入您的電子郵件地址</label>
                <input asp-for="Input.Email" class="" />
            </div>
            <div class="forget-btn-ctrl">
            <button type="submit" class="btn forget-btn">送出</button>
            </div>
        </form>
    </div>
</div>




                      
               



@section Css{
    <link rel="stylesheet" href="~/css/Account/CustomerService.css" asp-append-version="true"/>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Account/ForgetPassword.js"></script>
}

