@page
@model LoginModel

@{
    ViewData["Title"] = "登入";
}

<div class="login-content">
        <div class="login-left  col-12 col-lg-6">
            <div class="login-bgi">
                <div class="login-title">登入</div>
                  <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger text-center"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="text-light d-block">電子郵件</label>
                    <input asp-for="Input.Email" class="" />
                    @*<span asp-validation-for="Input.Email" class="text-danger d-block"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="text-light d-block">密碼</label>
                    <input asp-for="Input.Password" class="" />
                    @*<span asp-validation-for="Input.Password" class="text-danger d-block"></span>*@
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="text-light w-100">
                            <input asp-for="Input.RememberMe" class="check" /><span>記住我</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-btn">登入</button>
                </div>
                <div class="form-group">
                        <a id="forgot-password" asp-page="./ForgotPassword">忘記密碼?</a>
                </div>
            </form>
            </div>
        </div>
                    <div class="login-right col-12 col-lg-6">
            <p class="login-p">
                加入Steam   ，發掘千款可玩遊戲
            </p>
            <a href="#" class="text-decoration-none">深入了解</a>
            <div class="login-img">
                <img class="w-100" src="https://store.akamai.steamstatic.com/public/shared/images/login/join_pc.png?v=1">
            </div>
            <p class="login-p py-3">免費加入又容易使用</p>
             <p class="login-btn2">
                 <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-light new-user d-block text-decoration-none pt-2">註冊新用戶</a>
             </p>
        </div>
    </div>


@section endScripts {
    <partial name="_ValidationScriptsPartial" />
}
@section topCss{
    <style>
        .login-content {
  text-align: center;
}

.login-left {
  height: 100vh;
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/joinsteam/acct_creation_bg.jpg);
  background-blend-mode: multiply;
  background-position: left center;
  background-size: contain;
}

.login-left .login-bgi {
  padding-top: 7em;
  height: 100vh;
}
.login-left .login-title {
  font-size: 3em;
  color: #fff;
}

.login-left .login-text {
  text-align: start;
  padding-top: 3em;
  padding-left: 15.5em;
  color: #b8b6b4;
}

.login-left a {
  text-decoration: none;
}

.login-right {
  background-color: #edf1f2;
  height: 100vh;
  padding-top: 12em;
}

.login-right p {
  max-width: 60%;
  margin: auto;
}

.login-right a {
  display: inline-block;
  color: #2ac4f5;
}

.login-right .login-img {
  padding-top: 30px;
  margin: auto;
  width: 20em;
}

.login-btn {
  background-color: #f56c2d;
  width: 150px;
  height: 40px;
  border: 1px;
  border-radius: 3px;
  margin-top: 30px;
  color: #fff;
}

.login-btn2 {
  background-color: #212429;
  width: 150px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 30px;
  color: #fff;
}

input {
  background-color: #e8f0fe;
}

@@media (min-width: 576px) {
  .login-content {
    display: block;
  }
  footer {
    display: none;
  }
  input {
    width: 15em;
  }
}

@@media (min-width: 992px) {
  input {
    width: 15em;
  }
}

@@media (min-width: 1200px) {
  .login-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    display: block;
  }
  input {
    width: 20em;
  }
}
ul{
    padding-left0;
}
.check{
    width:20px;
}
.register-text{
    margin-top:1em;
    margin-bottom:.5em;
}
ul{
    padding-left:0;
}
    </style>
}
