@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<h2>請前往您的Email來認證您的帳號</h2>
@section Css{
<link rel="stylesheet" href="~/css/Account/Another.css" asp-append-version="true"/>
}