@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

        <div class="register">
            <div class="register-content">
                <div class="register-title">建立您的帳戶</div>
                <form class="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post" >
                    <div asp-validation-summary="All" class="text-danger text-center"></div>
                     <div class="register-account">
                        <label asp-for="Input.Account" class="register-account">請輸入帳號</label>
                        <input asp-for="Input.Account" class="" />
                    </div>
                    <div class="register-email">
                        <label asp-for="Input.Email" class="register-email">電子信箱</label>
                        <input asp-for="Input.Email" class="" />
                    </div>
                    <div class="register-password">
                        <label asp-for="Input.Password" class="register-text">密碼</label>
                        <input asp-for="Input.Password" class="" /> 
                    </div>
                    <div class="register-password">
                        <label asp-for="Input.ConfirmPassword" class="register-text">確認您的密碼</label>
                        <input asp-for="Input.ConfirmPassword" class="" />
                    </div>
                    <div class="register-live">
                        <p class="register-text">居住地</p>
                        <select name="" id="live" onchange="WhereDoYouLive()">
                            <option value="">請選擇居住地</option>
                            <option value="台灣">台灣</option>
                            <option value="美國">美國</option>
                            <option value="日本">日本</option>
                        </select>
                        <input id="address" asp-for="Input.Address" hidden/>
                    </div>
                    <div class="agree pt-3">
                        <input type="checkbox" name="" id="check">
                        <p class="agree-p pb-0 mb-0">我已年滿 13 歲並同意<a href="#">用戶協議</a>與<a href="#">隱私政策</a>。</p>
                        <input asp-for="Input.IsCheck" id="IsCheck" hidden="hidden"/>
                    </div>
                    <div class="register-btn-ctrl pt-3">
                        <button type="submit" class="register-btn">繼續</button>
                    </div>
                </form>
            </div>
        </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        <script>
        function WhereDoYouLive(){
            address.value = live.value;
        }
        check.addEventListener('click', function() {
            IsCheck.value = "yes";
        })
    </script>
}
@section Css{
<link rel="stylesheet" href="~/css/Account/Register.css" asp-append-version="true"/>
}

