@page
@model ResetPasswordConfirmationModel


<h2>
    您的密碼已重設<a asp-page="./Login">點及這裡開始登入</a>
</h2>
@section Css{
<link rel="stylesheet" href="~/css/Account/Another.css" asp-append-version="true"/>
}
