.forget-content {
    text-align: center;
    padding-top: 10em;
    padding-bottom: 20em;
}

    .forget-content .forget-title {
        font-size: 2em;
    }

    .forget-content .forget-email {
        padding-top: 3em;
        padding-bottom: 1em;
    }

.forget-btn-ctrl {
    padding-top: 3em;
}

    .forget-btn-ctrl button {
        background-color: #f56c2d;
        width: 150px;
        height: 40px;
        border: 1px;
        border-radius: 3px;
        margin-top: 30px;
        color: #fff;
    }

input {
    background-color: #e8f0fe;
    width: 20em;
}

body {
    background-color: #edf1f2;
}
