main {
    height: 100vh;
}

.row {
    width: 100%;
    justify-content: center;
    padding-top: 2em;
}

button {
    background-color: #f56c2d;
    color: #eee;
    border: none;
    width: 10em;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    margin-top: 1em;
}

h2 {
    text-align: center;
    padding-top: 1em;
}

.form-group {
    padding-top: 2em;
}
input {
    background-color: #e8f0fe;
}
