:root {
    --gap: 1em;
    --gap2: 1.5em;
    --bg: #1e262c;
    --font-w: #fff;
    --font-b: #000;
    --line-hight: 2em;
}

.row{
    margin: 0px;
    padding: 0px;
}
.col-12, .col-md-4, .col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.main__sidepanel {
    padding: var(--gap2);
}

.main__sidepanel h4 {
    font-size: x-small;
    font-weight: bold;
}

.img {
    width: 50px;
    height: 50px;
}

.main__content {
    padding: var(--gap2);
    background: var(--bg);
    color: var(--font-w);
}

h1, h2, .code {
    line-height: var(--line-hight);
    font-size: 28px;
    margin:0px;
}

h2, .code {
    text-align: center;
}

.main__text--friend_code p {
    margin-top: var(--gap2);
}

.card-body {
    padding: 0;
}

.card__friend {
    padding: var(--gap);
}

@media screen and (min-width: 768px) {
    .main__friendslist {
        position: relative;
        flex-direction: row-reverse;
    }

    .main__sidepanel {
        background: var(--bg);
        right: 0;
    }

    .main__sidepanel h4, .main__sidepanel a, .main__sidepanel hr {
        color: var(--font-w);
    }

    h2, .code {
        text-align: left;
    }

    .main__content {
        top: auto;
        background-color: transparent;
        color: var(--font-b);
    }
}
