.margin_block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sm_margin {
    margin: 5px;
}

/* 每個主題的間距 */


.game-body {
    background-color: rgb(203, 203, 203);
    padding: 5px;
}

.price {
    color: #acdbf5;
    background-color: rgb(182, 175, 175);
    margin-bottom: 0;
}

.discount {
    color: #a4d007;
    background-color: #4c6b22;
}

.discount-price {
    color: #577180;
}

.original-price {
    color: #577180;
    text-decoration: line-through;
}

.game-h3 {
    margin-left: 10px;
}

.game-h4 {
    margin-left: 10px;
}

.category-tag {
    color: white;
    background: #394148;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.5rem;
}

.game-featured-down {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}



.tab-game-left {
    width: 100%;
}

.tab-game-price {
    position: absolute;
    text-align: center;
    right: 20px;
}

@media screen and (min-width: 576px) {
    .tab-game-price {
        right: 15px;
        display: flex;
        margin-top: 10px;
    }

        .tab-game-price span {
            margin-right: 40px;
            height: 25px;
            margin-top: 15px;
        }
}

.part-space {
    margin-top: 20px;
}

.pic-space {
    margin-bottom: 5px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    /* display: -webkit-flex;
            display: -webkit-box;
            -webkit-justify-content: center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            display: -ms-flexbox;
            -ms-flex-pack: center;
            -ms-flex-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide div {
        background: rgb(203, 203, 203);
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
    }

#viewSteamBtn {
    margin-bottom: 10px;
    width: 49%;
    box-sizing: border-box;
}

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.special-offer-item {
    width: 49%;
    margin: 5px auto;
    border-radius: 0.25rem
}



.personalRecommed {
    background-color: rgb(203, 203, 203);
    padding: 30px 0 20px 0;
}
