@{
    Layout = "_Layout";
}
@section Css{
    <link rel="stylesheet" href="~/css/forum/comomunitydynamicwall.css" asp-append-version="true"/>
}


<div id = forum>
    <div class="dynamic-wall">
            <div class="dynamic-wall-news col-9 col-md-9 col-lg-9 col-xl-9">
                <div class="dynamic-wall-article">
                    <div class="card col-12 col-md-12 col-lg-12">
                        <div class="card-img ">
                            <img src="https://p2.bahamut.com.tw/S/2KU/92/0e3c7a46472fffa8b548f7dbb51gu8c5.JPG">
                            
                        </div>
                        <div class="card-main ">
                            <a href="#article"><h3>【心得】分享虛寶碼以及這遊戲的前世今生，陸版大佬的攻略文</h3></a>
                            <p class="zxc">可用序號如下：PMBX666sgcoserSG66XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx幹</p>
                            <a href="#文章內容導向">繼續閱讀</a>
                        </div>
                    </div>
                </div>
                <div class="dynamic-wall-article">
                    <div class="card col-12 col-md-12 col-lg-12">
                        <div class="card-img ">
                            <img src="https://p2.bahamut.com.tw/S/2KU/92/0e3c7a46472fffa8b548f7dbb51gu8c5.JPG">
                            
                        </div>
                        <div class="card-main ">
                            <a href="#article"><h3>【心得】分享虛寶碼以及這遊戲的前世今生，陸版大佬的攻略文</h3></a>
                            <p class="zxc">可用序號如下：PMBX666sgcoserSG66XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx幹</p>
                            <a href="#文章內容導向">繼續閱讀</a>
                        </div>
                    </div>
                </div>
                <div class="dynamic-wall-article">
                    <div class="card col-12 col-md-12 col-lg-12">
                        <div class="card-img ">
                            <img src="https://p2.bahamut.com.tw/S/2KU/92/0e3c7a46472fffa8b548f7dbb51gu8c5.JPG">
                            
                        </div>
                        <div class="card-main ">
                            <a href="#article"><h3>【心得】分享虛寶碼以及這遊戲的前世今生，陸版大佬的攻略文</h3></a>
                            <p class="zxc">可用序號如下：PMBX666sgcoserSG66XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx幹</p>
                            <a href="#文章內容導向">繼續閱讀</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="recommend col-3 col-md-3 col-lg-3 col-xl-3">
        
                <div class="recommend-img   top">
                    <!-- 亂數抓取推薦遊戲圖片 -->
                    <img src="https://steamuserimages-a.akamaihd.net/ugc/1858312451618214968/03B00B85916700A23601179A49E412EB636459C0/?imw=1920&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                        alt="">
                </div>
                <div class="recommend-img down">
                    <img src="https://steamuserimages-a.akamaihd.net/ugc/1858312451618214968/03B00B85916700A23601179A49E412EB636459C0/?imw=1920&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                        alt="">
                </div>
            </div>
 </div>
</div>

