@{
    ViewData["Title"] = "討論區";
    Layout = "_Layoutforum";
}
@section topCss{
    <link rel="stylesheet" href="~/css/forum/forum.css">
}
    <main id="forum" class="container-fluid">
        <div class="row page-content">
                <div class="col">
                    <div class="card">
                        <img src="./img/APEX.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-body-head">
                                <h3 class="card-title">APEX</h3>
                                <div>
                                    <a href="#" class="btn btn-primary">進入看板</a>

                                </div>
                            </div>
                            <div class="card-body-text">
                                <p>最新的一篇文章內容</p>
                                <p>目前成員:1050人</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>