<!-- 右邊那塊 -->
<div class="col-md-4">
    <div class="card-body card Member-card">
        <!-- 顯示離線/上線狀態 -->
        <!-- 整個編輯清單 -->
        <div class="Edit-left-box">
            <!-- 返回個人檔案 -->
            <a href="/User/User_information"
                class="btn btn-primary btn-block">返回個人檔案</a>
            <!-- 編輯清單 -->
            <div class="Edit-list mt-4 align-middle">
                <!-- 一般 (個人圖示+個人檔案背景+迷你個人檔案+主題 -->
                <a href="/User/E1_User" class="list-group-item border-0"><span
                        class="fa fa-inbox mr-2"></span>一般</a>
                <a href="/User/E2_UserPhoto" class="list-group-item border-0"><span
                        class="fa fa-paper-plane mr-2"></span>個人圖示</a>
                                    
                <a href="/User/E3_UserTopic" class="list-group-item border-0"><span
                        class="fa fa-ticket mr-2"></span>主題</a>
            </div>
            <!-- 分隔線 -->
            <hr class="Edit-divider mt-1 m-b-10">
            <div class="list-group mail-list">
                <a href="/User/E4_UserPrivacy" class="list-group-item border-0"><span
                        class="fa fa-tags mr-2"></span>隱私設定</a>
                <!-- <a href="#" class="list-group-item border-0"><span class="fa fa-briefcase f-s-14 mr-2"></span>Work</a> 
                    <a href="#" class="list-group-item border-0"><span class="fa fa-sellsy f-s-14 mr-2"></span>Private</a>
                    <a href="#" class="list-group-item border-0"><span class="fa fa-ticket f-s-14 mr-2"></span>Support</a>  -->
            </div>
        </div>
    </div>
</div>