 @section Css{
    <link rel="stylesheet" href="~/css/User/User.css" asp-append-version="true"/>
 }

        <div class="mb-3 mt-3 ml-auto mt-3" id="card-Edit_User">
            <!-- 留言 + 新增留言 -->
            <div class="card-Member-Comment mb-3 mt-3 p-3 mr-3 ml-3">
                <div class="row g-0">
                    <!-- 右邊那塊 -->
                    <div class="col-md-4">
                        <div class="card-body card Member-card">
                            <!-- 顯示離線/上線狀態 -->
                            <!-- 整個編輯清單 -->
                            <div class="Edit-left-box">
                                <!-- 返回個人檔案 -->
                                <a href="/User/User_information" class="btn btn-primary btn-block">返回個人檔案</a>
                                <!-- 編輯清單 -->
                                <div class="Edit-list mt-4 align-middle">
                                    <!-- 一般 (個人圖示+個人檔案背景+迷你個人檔案+主題 -->
                                    <a href="/User/E1_User" class="list-group-item border-0"><span
                                            class="fa fa-inbox mr-2"></span><b>一般</b></a>
                                    <a href="/User/E2_UserPhoto" class="list-group-item border-0"><span
                                            class="fa fa-paper-plane mr-2"></span>個人圖示</a>

                                    <a href="/User/E3_UserTopic" class="list-group-item border-0"><span
                                            class="fa fa-ticket mr-2"></span>主題</a>
                                </div>
                                <!-- 分隔線 -->
                                <hr class="Edit-divider mt-1 m-b-10">
                                <div class="list-group mail-list">
                                    <a href="/User/E4_UserPrivacy" class="list-group-item border-0"><span
                                            class="fa fa-tags mr-2"></span>隱私設定</a>
                                    <!-- <a href="#" class="list-group-item border-0"><span class="fa fa-briefcase f-s-14 mr-2"></span>Work</a> 
                                        <a href="#" class="list-group-item border-0"><span class="fa fa-sellsy f-s-14 mr-2"></span>Private</a>
                                        <a href="#" class="list-group-item border-0"><span class="fa fa-ticket f-s-14 mr-2"></span>Support</a>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 編輯畫面 2-->
                    <div class="card-Edit2 card Member-card card-body col-md-8">
                        <!-- 編輯畫面群組 -->
                        <!-- 關於個人圖示編輯的說明 -->
                        <div class="Edit2-text">
                            <h5>個人圖示</h5>
                            <p>選擇您的個人圖示</p>
                            <!-- 分隔線 -->
                            <hr class="Edit-divider mt-1 m-b-10">
                        </div>
                        <!-- 個人圖示編輯主要部分 -->
                        <div class="Edit2-main form-validation">
                            <h5 class="m-b-20"><i class="fa fa-paperclip m-r-5 f-s-18"></i> <b>上傳您的個人圖示</b>
                            </h5>

                            <!-- Star 在當前頁面實現預覽效果 -->
                            <input id="file" type="file" onchange="openFile(event)" style="display: none" accept="image/*"/>
                            <button type="button" class="btn btn-warning" onclick="file.click()">點我上傳頭相</button>

                            <!-- <input class="Edit2-PhotoView" type="file" onchange="openFile(event)" accept="image/*"> -->
                            <div id="Edit2-PhotoBox" class="mt-2">
                                <img id="output" height="200" style="display:none">
                            </div>

                            <!-- End 在當前頁面實現預覽效果 -->
                            <div class="text-left mt-2">
                                <button onclick="ConfirmRpload()" class="btn btn-primary" type="button"><i
                                        class="fa fa-paper-plane"></i>
                                    確定上傳</button>
                                <button onclick="clean()" class="btn btn-dark ml-3" type="button"><i
                                        class="fa-solid fa-ban"></i>
                                    取消上傳</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- 在當前頁面實現預覽效果 -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        function openFile(event) {
            var input = event.target; //取得上傳檔案
            var reader = new FileReader(); //建立FileReader物件
            reader.readAsDataURL(input.files[0]); //以.readAsDataURL將上傳檔案轉換為base64字串
            reader.onload = function () { //FileReader取得上傳檔案後執行以下內容
                var dataURL = reader.result; //設定變數dataURL為上傳圖檔的base64字串
                $('#output').attr('src', dataURL).show(); //將img的src設定為dataURL並顯示
            };

            var file = e.files[0];
            if (!file) {
                return;
            }
            //檔案上傳
            //...
            //檔案上傳

            //上傳後將檔案清除
            event.value = '';
        }
        
    </script>

<!-- sweetalert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 @section Scripts{
     <script src="~/js/User/UserBtn02.js"></script>
 }