@model GameLibraryViewModel

@section Css{
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/User/GameLibrary.css" asp-append-version="true"/>
}
    <div class="mygame d-flex">
        <div class="mygame-list col-md-2">
            <partial name="_GameListPartial" />
        </div>
        <div class="game col-md-10 ">
            <div class="d-flex aaa">
                
            </div>  
            <div class="col-12 col-md-12 col-xl-12 p-0">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        
                    </div>
                    <div class="swiper-pagination">
                    </div>
                </div>
             </div> 
        </div>
    </div>


              
            
          
        

    @*模板*@
    <template id="getgamecard">
        <div class="game-img col-xs-8 col-8 col-md-8 col-xl-8 p-0">
                    <img src=""alt=""  >
                </div>
                <div class="game-details d-flex col-xs-4 col-md-4 col-xl-4">
                    <img src="" alt="">
                    <p class="gameIntroduction"></p>
                           
                    <div class="d-flex game-maker">
                        <div class="col-md-4 p-0">
                            <p>開發人員:</p>
                        </div>
                        <div class="col-md-8">
                            <p></p>
                        </div>
                    </div>
                    <div class="d-flex  game-develpoer ">
                        <div class="col-md-4 p-0">
                            <p>開發商:</p>
                        </div>
                        <div class="col-md-8">
                            <p></p>
                        </div>
                    </div>
                    <div class="d-flex game-releaseTime">
                        <div class="col-md-4 p-0">
                            <p>發行日期:</p>
                        </div>
                        <div class="col-md-8">
                            <p></p>
                        </div>
                    </div>
                    <div class="game-button d-flex">
                        <button class="button "><p>安裝SenGame<ion-icon name="download-outline"></ion-icon></p></button>
                        <button class=" zxc"><a href="steam://store">執行遊戲</a></button>
                    </div>
                 </div>
    </template>
    <template id="swiper">
        <div class="swiper-slide"><img src=""></div>
    </template>

@section Scripts{
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>
    <script src="~/js/User/GameLibrary.js"></script>

}