@section Css{
    <link rel="stylesheet" href="/css/shop/ProductDetails.css" asp-append-version="true"/>
}

        <!-- 搜尋及導覽列 -->
        
        <!-- 遊戲主要介紹 -->
        <section class="MainGame-Datial col-12 p-0 d-md-flex flex-md-wrap justify-content-md-between">
            <h2 class="Table-title w-100"></h2>
            <!-- 遊戲名稱、開發商、開發人員、發行日期、簡介 動態載入 -->
            <div class="Game-Introduce d-md-flex flex-md-column justify-content-md-between mb-4 mb-md-0 mt-md-2">
                <div>   
                    <img  alt="" class="w-100">
                    <p class="col-12  p-0 text-left"></p>
                </div>
                <div>
                    <h3 class="Developers">開發商 <a href="#"></a></h3>
                    <h3 class="Developers_Person ">開發人員 <a href="#"></a></h3>
                    <h3 class="Selling-Date ">發行日期 <a href="#"></a></h3>
                </div>
                <!-- 動態標籤 -->
                <!-- <div class="Game-tag"></div> -->
                <!-- 動態評論 -->
                <!-- <div class="Game-Comment"></div> -->
            </div>
            
            <!--影片 動態測入，目前Lol測試版  -->
            <div class="Game-Video-Introduce mt-md-2">
                <!-- 以下測試 -->
                <div  class="swiper mySwiper1 ">
                    <div class="swiper-wrapper" id="mainphoto"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper2 mt-5">
                    <div class="swiper-wrapper" id="thumbs">
                    </div>
                </div>
                <!-- 以上測試 -->
            </div>

        </section>

        <section class="col-12 p-0 mt-md-3">
            <!-- 購買收藏等功能鍵、靜態 -->
            <div class="Game-Function-Btn col-12 p-0 d-lg-flex justify-content-md-between">
                <div class="Game-Price d-flex align-items-center col-12 col-lg-6"></div>
                <div class="Group-btn col-12 col-lg-6 flex-row-reverse">
                    <button>收藏</button>
                    <button>分享</button>
                    <button class="btn ">
                        <a asp-action="ShoppingCart">加入購物車</a>
                    </button>
                </div>
            </div>
        </section>

        <section class="col-12 d-md-flex flex-md-wrap justify-content-md-between p-0 Game-Datails-Area">
            <!-- 遊戲文字介紹 要動態載入 -->
            <p class="col-12 p-0 mt-4 About-Game">關於此遊戲</p>
            <div class="Game-Datails col-12 col-md-8  mb-4 m-md-0">
            </div>
            <div class="Recommend col-12 col-md-3 p-0 "></div>
        </section>
        <section class="col-md-12">
            <!-- 性統需求 -->
            <div class="System-Requirement col-12 d-flex flex-wrap p-0 mt-4">
                <!-- Nav -->
                <nav class=" col-12 d-flex justify-content-around">
                    <button class="btn">Windows</button>
                    <button class="btn">Mac</button>
                    <!-- <button class="">SteamOS<br>Linux</button> -->
                </nav>
                <div class="col-12 d-md-flex Cnfigure-Box">

                    <!-- 最低配置 -->
                    <div class="Min-Cnfigure  col-12 col-md-6 ">
                    </div>

                    <!-- 建議配置 -->
                    <div class="Suggest-Configure  col-12  col-md-6 ">
                        <!-- <span>建議配備:</span> -->
                    </div>
                </div>
                
                <span class="System-text">©2020-2022 and published by Paradox Interactive AB, CRUSADER KINGS and PARADOX INTERACTIVE are trademarks and/or registered trademarks of Paradox Interactive AB in Europe, the U.S., and other countries. All other trademarks, logos, and copyrights are the property of their respective owners.</span>
            </div>
        <!--遊戲組合包  -->
        <div></div>
        <!-- 相似產品 -->
        <div></div>
        <!-- 遊戲資訊EX:語言.... -->
        <div></div>
        </section>
            
        <section class="Video-Area">
            <video src="/video/shopper/Pexels Videos 2527932.mp4" poster="/img/shopper/MTH002.jpeg" controls="true"></video>
            <i class="fa-solid fa-xmark Video-Clear"></i>
        </section>

    

    <!--  -->
    <template id="GamePictureText">
        <div class="pic">
            <img src="" alt="" class="w-100">
        </div>
        <div class="text">
            <h4></h4>
            <p></p>
        </div>
    </template>

    <!--詳細圖文產生  -->
    <template id="GameSystem">
        <div class="System-box">
            <span class="mb-3 text-danger"></span>
            <p class="bit"></p>
            <ul class="p-0 ">
                <li class="mb-3"><span class="mb-0 text-success">作業系統 : </span><span class="Stytem mb-0 "></span></li>
                <li class="mb-3"><span class="mb-0 text-success">處理器 : </span><span class="Processor mb-0"></span></li>
                <li class="mb-3"><span class="mb-0" text-success>記憶體 : </span><span class="Memory mb-0"></span></li>
                <li class="mb-3"><span class="mb-0 text-success">顯示卡 : </span><span class="GraphicsCard mb-0"></span></li>
                <li class="mb-3"><span class="mb-0 text-success">儲存空間 : </span><span class="Storage mb-0"></span></li>
            </ul>
        </div>
    </template>
    
    <!--  -->
    <template id="Shopping_Recommend" class="d-flex flex-wrap">
        <div class="col-6 col-md-12  p-0 ">
            <div class=" col-11 p-0 d-flex flex-wrap Recommend-item">
                <a href="#" class="col-12 p-0">
                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/597180/capsule_184x69_tchinese.jpg?t=1654230486" alt="" class="w-100">
                </a>
                <div class="col-12 d-flex justify-content-between">
                    <span>售價為:</span>
                    <p class="Recommend-Price">NT $9527</p>
                </div>
            </div>
        </div>
    </template>

@section Scripts{
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/shop/ProductDetails.js"></script>
    
}