@model IEnumerable<ShoppingCartViewModel>
@{
    decimal TotalMoney = 0;
}
@section Css{
     <link rel="stylesheet" href="/css/shop/ShoppingCart.css" asp-append-version="true"/>
}
        <!--  -->
        <section class="Main-Content col-12 col-md-8 p-0">
            <p class="col-12 pt-3 title">您的購物車</p>
            <div class="@(Model.Count()==0?"d-none":"") Shopping-Area col-12 d-flex flex-wrap p-0">
                <!-- 動態 -->
                <div class="Spopping-Select col-12  d-flex flex-wrap pb-2">
                    @foreach(var m in Model)
                    {
                        <partial name="_CartItemPartil" model="m"/>
                        TotalMoney += m.GamePrice;
                    }  
                </div>
                <div class="Shopping-Select-Sum-Pric col-12 d-flex flex-wrap px-0 pt-2">
                    <div class="d-flex justify-content-between col-12 Shopping-Checkout">
                        <p class="">估計總額 :</p>
                        <p class="Shpopping-Price">NT$ @TotalMoney</p>
                    </div>
                </div>
            </div>
            <div class="Shopping-ElseFunction col-12 d-flex flex-row-reverse">
                <button class="btn DelAllItem">移除所有項目</button>
                <a asp-controller="Game" asp-action="Game" class="btn mr-2 Continue-Shopping">繼續購物</a>
                <a class="checkout btn">結帳</a>
                 @*asp-controller="Shop" asp-action="CheckBuy"*@
            </div>
        </section>
        <!-- 推薦區 -->
        <section class="Recommend col-12 col-md-3  d-flex flex-wrap  align-content-start pt-4 ">
        </section>



    


    <!-- 遊戲推薦 -->
    <template id="Shopping_Recommend" class="d-flex flex-wrap">
        <div class="col-6 col-md-12  p-0 ">
            <div class=" col-11 p-2 d-flex flex-wrap Recommend-item m-auto">
                <a href="#" class="col-12 p-0">
                    <img src="" alt="" class="w-100">
                </a>
                <div class="col-12 d-flex justify-content-between mt-1">
                    <p class="Recommend-Price"></p>
                </div>
            </div>
        </div>
    </template>

@section Scripts{
    <script src="~/js/Shop/ShoppingCart.js"></script>
}