.community-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.community-body-right {
    width: 100%;
}

.community-body-sticky {
    width: 100%;
    height: 500px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    margin-right: 5px;
    display: none;
}

@media (min-width: 992px) {
    .community-body-sticky {
        display: block;
    }
}

.community-body-sticky-img {
    margin: 10px 0;
}

.community-body-sticky img {
    max-width: 100%;
}

.community-body-swpier {
    width: 100%;
    margin: auto;
    display: none;
    padding: 0px;
}

@media (min-width: 992px) {
    .community-body-swpier {
        display: block;
    }
}

.community-body-dynamics {
    margin-top: 20px;
}

.community-body-populargames {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 250px;
}

.community-body-populargames-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .community-body-populargames-card a {
        font-size: 1rem;
    }

.community-body-forum .forumcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    margin: 20px 0;
    border-radius: 20px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (min-width: 768px) {
    .community-body-forum .forumcard {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        border-radius: 5px;
    }
}

.community-body-forum .forumcard-img {
    padding-left: 0;
    padding-right: 0;
}

    .community-body-forum .forumcard-img img {
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

@media (min-width: 768px) {
    .community-body-forum .forumcard-img img {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}

.community-body-forum .forumcard-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.community-body-forum .forumcard div > li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 10px;
}

    .community-body-forum .forumcard div > li a {
        text-decoration: none;
        font-size: 1rem;
        color: royalblue;
        background-color: Lavender;
        padding: 10px 30px;
        border-radius: 5px;
    }

.swiper {
    margin-top: 45px;
    width: 100%;
    height: 500px;
    display: none;
}

@media (min-width: 992px) {
    .swiper {
        display: block;
    }
}

.swiper-slide img {
    width: 100%;
}

.MainScreen {
    width: 100% !important;
}

@media (min-width: 768px) {
    .open-section {
        width: calc(100% - 220px) !important;
        margin-left: auto;
    }
}
