main {
    height: 100%;
    background: #edf1f2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-left: auto;
    margin-right: 0px;
}

@media (min-width: 576px) {
    main {
        width: calc(100% - 60px);
    }
}

main .mygame {
    height: 100%;
}

main .mygame-list {
    border-right: 2px solid;
}

main .mygame-list-detail li img {
    width: 40%;
    border-radius: 30px;
}

main .mygame-list-detail li p {
    margin: auto 10px;
}

main .mygame .game {
    margin-top: 10px;
}

main .mygame .game-img {
    display: none;
}

@media (min-width: 768px) {
    main .mygame .game-img {
        display: block;
    }

        main .mygame .game-img img {
            width: 100%;
        }
}

main .mygame .game-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    main .mygame .game-details img {
        max-width: 100%;
    }

    main .mygame .game-details p {
        font-size: 0.8rem;
    }

@media (min-width: 992px) {
    main .mygame .game-details p {
        font-size: 1rem;
    }
}

main .mygame .game-details div p {
    margin: auto 0px;
    font-size: 1rem;
}

@media (min-width: 992px) {
    main .mygame .game-details div p {
        font-size: 1rem;
    }
}

main .mygame .game-develpoer {
    margin: 10px 0;
}

main .mygame .game-button {
    margin: 10px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    main .mygame .game-button button {
        background-color: #1e262c;
        width: 45%;
        padding: 4px 0;
        border-radius: 3px;
    }

        main .mygame .game-button button p {
            margin: auto 0px;
            color: #edf1f2;
        }

        main .mygame .game-button button a {
            text-decoration: none;
            color: #edf1f2;
        }

        main .mygame .game-button button:hover {
            background-color: #f56c2d;
        }

            main .mygame .game-button button:hover p {
                font-weight: bold;
                color: #1e262c;
            }

main .mygame .swiper {
    margin: 10px 0;
    height: 200px;
}

main .mygame .swiper-slide {
    width: 50%;
}

    main .mygame .swiper-slide img {
        width: 100%;
    }

.MainScreen {
    width: 100% !important;
}

.show {
    display: block;
}

@media (min-width: 576px) {
    .open-section {
        width: calc(100% - 220px) !important;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
}
