@page
        <div class="help">
            <div class="help-title">
                <span>客服中心</span>
                <p>您有什麼需要幫忙的嗎?</p>
            </div>
            <div class="question">
                <span> 遊戲類型</span>
                <select name="" id="game-type">
                    <option value="">請選擇遊戲類型</option>
                </select>
                <span class="type-error d-block"></span>
                <span>遊戲名稱</span>
                <select name="" id="game-name">
                    <option value="">請選擇遊戲名稱</option>
                </select>
                <span class="name-error d-block"></span>
            </div>
            <div class="question-content">
                <div class="question-text">
                    <span>請詳細說明遇到的狀況</span>
                    <!-- <form action="post"> -->
                        <textarea name="" id="" cols="40" rows="10" class="d-block mx-auto"></textarea>
                        <span class="text-content d-block"></span>
                        <button class="send" type="submit">送出</button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <script src="~/js/CustomerService/CustomerService.js"></script>
         <link rel="stylesheet" href="~/css/CustomerService/CustomerService.css" asp-append-version="true"/>