@*@model FriendViewModel

@foreach(var group in Model.Groups)
{      
<div class="friend-group w-100">
        <span class="friends-span w-100 pl-2 py-2 d-block user-select-none">@group.GroupName</span>
            <div class="friend-ul w-100">
            @foreach(var item in group.Friends)
            {
                <div class="friend-li pl-2 py-3 w-100">
                    <img class="friend-img user-select-none"  src="@item.Photo">
                    <div class="friend-content w-100">
                        <span class="friend-name pl-4 mb-0 user-select-none">@item.Name</span>
                        <p class="friend-line pl-4 mb-0  user-select-none">上線</p>
                    </div>
                </div>    
            
            }
        </div>
    </div>
}  *@