




    <div class="friend-li pl-2 py-3 w-100">
        <img class="friend-img user-select-none"  src="@Model.Photo">
        <div class="friend-content w-100">
            <span class="friend-name pl-4 mb-0 user-select-none">@Model.Name</span>
            <p class="friend-line pl-4 mb-0  user-select-none">上線</p>
        </div>
    </div>
