<div class="main__sidepanel col-12 col-md-3">
    <h4>好友</h4>
    <a class="dropdown-item" asp-controller="Friend" asp-action="FriendList">您的好友</a>
    <a class="dropdown-item" asp-controller="Friend" asp-action="AddFriend">新增好友</a>
    <a class="dropdown-item" asp-controller="Friend" asp-action="PendingInvites">待處理的邀請</a>
    <hr>
    <h4>群組</h4>
    <a class="dropdown-item" asp-controller="Friend" asp-action="Groups">您的群組</a>
    <a class="dropdown-item" asp-controller="Friend" asp-action="PendingInvitesGroups">待處理的邀請</a>
    <a class="dropdown-item" asp-controller="Friend" asp-action="FindGroup">尋找群組...</a>
    <a class="dropdown-item" asp-controller="Friend" asp-action="GroupCreate">建立群組...</a>
</div>


