
 <div class="main__friendslist row">
    <partial name="_FriendListNavPartial"/>
    <div class="main__content col-12 col-md-8 row">
        <partial name="_ProfilePhotoPartial"/>
        <div class="main__text col-12 row">
            <h1 class="col-12">新增好友</h1>
            <div class="main__text--friend_code col-12">
                    <h2>您的好友代碼</h2>
                    <div class="row">
                        <div class="code col-12 col-md-5 col-lg-3">{132343476}</div>
                        <button type="button" class="btn btn-info col-12 col-md-3">複製</button>
                    </div>
                                
                                    
                    <p>輸入您好友的好友代碼，邀請他們成為好友。</p>
                    <input class="form-control" type="search" placeholder="輸入好友代碼" aria-label="Search">
                    <p>或嘗試搜尋您的好友</p>
                    <input class="form-control" type="search" placeholder="輸入您好友的個人檔案名稱" aria-label="Search">
            </div>
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/css/Friend/Friend.css" asp-append-version="true"/>
}
@section Scripts{
    <script src="~/js/Friend/Chat.js"></script>
}
