@using Microsoft.AspNetCore.Identity
@{
    string pic = (string)TempData["pic"];
}


    <div class="chat-content position-relative">
        <div class="chat-left">
            <div class="user-content position-relative">
                <img class="pl-2 py-3  user-select-none w-25" src="@pic">
                <p class="pl-2 py-3  user-select-none">@User.Identity.Name</p>
                <span class="user-span pl-2 py-3  user-select-none">∨</span>
                <ul class="state-ul position-fixed p-0 m-0">
                    <li class="state-li  user-select-none">線上</li>
                    <li class="state-li  user-select-none">離開</li>
                    <li class="state-li  user-select-none">隱藏</li>
                </ul>
                <p class="position-absolute line  user-select-none pl-1">線上</p>
                <div class="user-search position-relative">
                    <p class="pl-2  user-select-none">好友</p>
                        <input class="search  position-absolute" type="search" value="" >
                </div>
            <div class="resizeR"></div>
            <div class="friends w-100">
               <partial name="_FriendCardPartial"/>
            </div>
        </div>
    </div>
    <div class="chat-right">
        
    </div>
</div>
<div id="rightmenu">
            <span class="add-type">建立群組</span>
</div>
<!-- <div class="group-delete">
    <span class="delete-type">刪除群組</span>
</div> -->
<!-- 群組分類的modal -->
<div id="myModal" class="modal">
    <partial name="_GroupPartial"/>
</div>
<template id="friendcard">
    <div class="friend-li pl-2 py-3 w-100">
        <img class="friend-img user-select-none"  src="https://picsum.photos/50/50/?random=150">
        <div class="friend-content w-100">
            <span class="friend-name pl-4 mb-0 user-select-none">台中玩</span>
            <p class="friend-line pl-4 mb-0  user-select-none user-select-none">離線</p>
        </div>
    </div>
</template>
<template id="friendcard2">
    <div class="friend-li2 pl-2 py-3 w-100">
        <img class="friend-img2 user-select-none"  src="https://picsum.photos/50/50/?random=150">
        <div class="friend-content2 w-100">
            <span class="friend-name2 pl-4 mb-0 user-select-none">台中玩</span>
            <p class="friend-line2 pl-4 mb-0  user-select-none user-select-none">離線</p>
        </div>
    </div>
</template>

<template id="message">
    <div class="message-window d-flex flex-wrap">
        <div class="message-title position-relative d-flex pl-3 ms-2">
            <img class="py-3 message-img user-select-none" src="https://picsum.photos/30/30/?random=10">
            <p class="pl-3 py-3 mb-0 text-light user-select-none">名稱</p>
            <span class="close py-3 position-absolute text-light user-select-none">X</span>
        </div>
        <div class="wire w-100"></div>
        <div class="message-content w-100">
            <div class="show"></div>
            <div class="send d-flex">
                <input id="text" class="send-input ms-3 mb-0" type="text" name="" value="">
                <span class="input-group-text" id="basic-addon1"> ↲</span>
                <label for="upload" class="upload-btn text-center ms-0 my-0">上傳</label>
                <input type="file"  accept="image/*" value="" id="upload" hidden="hidden">
            </div>
        </div>
    </div>
</template>
<!-- 標籤 -->
<template id="friendtag">
    <div class="tag my-1">
        <p>哈</p>
    </div>
</template>

 @section Css{
<link rel="stylesheet" href="~/css/Friend/Chat.css" asp-append-version="true"/>

 }
 @section Scripts{
     <script src="~/js/signalr/dist/browser/signalr.js"></script>
     <script src="~/js/Friend/Chat.js"></script>
 }
