<div class="main__friendslist row">
    <partial name="_FriendListNavPartial"/>
    <div class="main__content col-12 col-md-8 row">
        <partial name="_ProfilePhotoPartial"/>
        <div class="main__text col-12">
            <div class="search row" >
                <h1 class="col-md-4">待處理的邀請</h1>
                <input class="form-control col-md-8" type="search" placeholder="以名稱搜尋群組" aria-label="Search">
            </div>
            <div class="list">
                抱歉，沒有可顯示的待處理群組邀請。
            </div>
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/css/Friend/Friend.css" asp-append-version="true"/>
}
@section Scripts{
    <script src="~/js/Friend/Chat.js"></script>
}
