@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="footer-content">
    <div class="content-item"><a href="#"><img class="item-img" src="https://store.akamai.steamstatic.com/public/images/footerLogo_valve_new.png"></a></div>
    <div class="content-item">
        <p class="item-p">© 2022 Valve Corporation. 版權所有。所有商標皆為各自所有權人在美國與其他國家 (地區) 之財產。
        所有價格均包含增值稅（如適用）。<br>
        <a class="item-a" href="#">隱私權政策</a>
        <a class="item-a" href="#">法律聲明</a>
        <a class="item-a" href="#">訂戶協議</a>
        <a class="item-a" href="#">退款</a>
        <a class="item-a" href="#">Cookie</a>
        </p>
    </div>
    <div class="content-item">
        <img class="item-img footer-logo" src="https://store.akamai.steamstatic.com/public/images/v6/logo_steam_footer.png">
    </div>
</div>