@{
    //string url = (string)ViewContext.RouteData.Values["controller"];
    //string urlac = (string)ViewContext.RouteData.Values["action"];
    var a = TempData["actiontype"];
    



}
    

<div class="header-box">
            <nav class="header-box-nav">
                <div class="header-box-nav-content">
                    <button class="btn header-box-nav-content-collapse">
                        <ion-icon class="icon" name="arrow-back-outline"></ion-icon>
                    </button>
                    <ul class="list-group header-box-nav-content-tours">
                        <li class="list-tour-home" style="--clr:#f44336">
                            <a asp-controller="Game" asp-action="Game">
                                <span class="icon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </span>
                                <span>首頁</span>
                            </a>
                        </li>
                        <li class="list-tour-shop" style="--clr:#ffa500">
                            <a href="#shop">
                                <span class="icon">
                                    <ion-icon name="storefront-outline"></ion-icon>
                                </span>
                                <span>商店</span>
                            </a>
                            <ul class="menu " >
                                <li><a asp-controller="Shop" asp-action="ShoppingCart" style="--clr:#ffa500">購物車</a ></li >
                                <li><a asp-controller="User" asp-action="WishList">願望清單</a></li>
                            </ul>
                                
                        </li>
                        <li class="list-tour-game" style="--clr:#FFD700">
                            <a asp-controller="User" asp-action="GameLibrary">
                                <span class="icon">
                                    <ion-icon name="game-controller-outline"></ion-icon>
                                </span>
                                <span>遊戲庫</span>
                            </a>
                        </li>
                        <li class="list-tour-forum " style="--clr:#0fc70f" type="buttom">
                            <a asp-controller="Community" asp-action="Index">
                                <span class="icon">
                                    <ion-icon name="chatbubbles-outline"></ion-icon>
                                </span>
                                <span>論壇</span>
                            </a>
                            <ul class="menu" >
                                <li><a asp-controller="Community" asp-action="Index">首頁</a></li>
                                <li><a asp-controller="Community" asp-action="Forum">討論區</a></li>
                                <li><a asp-controller="Articles" asp-action="Index">文章</a></li>
                            </ul>
                        </li>
                        <li class="list-tour-friend " style="--clr:#2196f3">
                            <a asp-controller="friend" asp-action="FriendList">
                                <span class="icon">
                                    <ion-icon name="people-outline"></ion-icon>
                                </span>
                                <span>好友</span>
                            </a>
                            <ul class="menu" >
                                <li><a asp-controller="Friend" asp-action="Chat">聊天</a></li>
                                
                            </ul>
                        </li>
                        <li class="list-tour-customerservice" style="--clr:#115095" >
                            <a asp-controller="Home" asp-action="CustomerService">
                                <span class="icon">
                                    <ion-icon name="headset-outline"></ion-icon>
                                </span>
                                <span>客服</span>
                            </a>
                        </li>
                        <li class="list-tour-about" style="--clr:#b145e9" >
                            <a asp-controller="Home" asp-action="About">
                                <span class="icon">
                                    <ion-icon name="help-circle-outline"></ion-icon>
                                </span>
                                <span>關於我們</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header-box-tool">
                <div class="nav-toggler"></div>
                <ion-icon class="sidebar-toggler" name="arrow-forward-outline"></ion-icon>
                <a asp-controller="Game" asp-action="Game" class="navbar-brand logo h1">森 GAME</a>
                <form class="form-inline search-form">
                    <input class="form-control " type="search" placeholder="搜尋">
                    <button class="btn search-form-btn" type="button"></button>
                    <button class="btn search-form-btn-submit" type="submit" style="display: none;" ></button>
                </form>
                <div class="navbar-brand header-box-tool-end">
                    <div class="dropdown">
                        <button class="bell" type="button" id="bell-list" data-toggle="dropdown"
                            aria-expanded="false" data-offset="-120,0"></button>
                        <div class="dropdown-menu" aria-labelledby="bell-list">
                            <div href="#" class="dropdown-item">訊息1</div>
                            <div href="#" class="dropdown-item">訊息2</div>
                        </div>
                    </div>
                    <partial name="_LogoPartial"/>
                    @*<div class="dropdown">
                        <button class="login" type="button" id="user-list" data-toggle="dropdown"
                            aria-expanded="false" data-offset="-120,0"></button>
                        <div class="dropdown-menu" aria-labelledby="user-list">
                            <a  asp-area="Identity" asp-page="/Account/Login" class="dropdown-item">註冊登入</a>
                            <a href="/User/User_information" class="dropdown-item">個人資料</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="controllertype" style="display:none" controller="@a" >測試</div>
        @*<div class="actiontype" style="display:none" ac=@urlac >測試</div>*@
    
    
    
    